body{
  background-color: #e2e2e2;
}


address{
  margin-top: 45px;
}

h1{
  font-family: 'Montserrat', sans-serif;
  color: #223c70
}

hr{
  border-width: 2px;
  background-color: #ececec;
}

small{
  color: #777777;
}

.footer{
  border-width: 1px;
  background-color: #ececec;
}

dt{
  white-space: normal;
}

row{
  margin: 5% 0 0 0;
}

dt{
  color: #223c70;
  margin-bottom: 100px;
}

.winton{
  float: right;
  padding-left: 40px;

}

.abt-text{
  float: left;
  margin-top: 30px;
}

.content-section, .services-section, .contact-section{
  margin-top: 60px;
}

.btn {
  background-color: #d59b07;
  width: 35%;
}
.btn:hover{
  background-color: #bb8702;
}

.btn:active{
  background-color: #bb8702;
}
.btn:visited{
  background-color: #bb8702;
}
